// routes
@import './index';
@import './coin';
@import './collection';
@import './collections';
@import './login';
@import './signup';
@import './messages';
@import './message';
@import './explore';
@import './sale';
@import './user';


// components
@import './navbar';
@import './coinModal';
@import './collectionModal';
@import './sellModal';



*{
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-style: normal;
}

div[class$="body"] {
  margin: 10px 10px 10px;
}

h1{
  font-size: 36px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 12px;
}

.timestamp{
  color: rgba(0, 0, 0, .5);
}




button, .button-style{
  border: none;
  color: white;
  background-color: hsl(219, 73%, 61%);
}

button:active, .button-style:active{

  background-color:hsl(219, 40%, 61%);
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



#coin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

ol{
  padding-left: 0px;
}

// body{
//   background-color: #EAEDED;
// }