.collection-body {
  .collection-info {
    * {
    display: block;
    margin-bottom: 10px;
    }

    .progress-info *{
      display: inline-block;
      margin: auto;
    }
  }

  .add-coin-button-wrapper {
    text-align: center;

    button {
      margin-bottom:10px ;
      width: 120px;
      height: 30px;
    }
  }

  .coin-list {
    margin-top: 20px;
    margin-bottom: 20px;

    #coin-checkbox {
      width: 32px;
      height: 32px;
      margin-right: 20px;
      vertical-align: middle;
    }

    ol *{
      display: inline-block;
    }

    .coin-link {
      text-decoration: none;
      color: black;
    }

    .coin-link-info{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    h2 {
      display: inline-block;
      margin-right: 4px;
    }

  }
}


progress {
  border-radius: 7px;
  margin-right: 250px;
}
progress::-webkit-progress-bar {
  background-color: #333;
  border-radius: 7px;
  width: 400px;
}
progress::-webkit-progress-value {
  background-color: #5386e4;
  border-radius: 7px;
}
