<!-- The Modal -->
<div id="editCoin" class="editModal">

  <!-- Modal content -->
  <div class="edit-coin-modal-content">
    <span class="close">&times;</span>
    <p>Edit coin info</p>
  </div>

</div>