{{! app/templates/components/login-page.hbs }}

{{!-- {{link-to "Secret codez here" 'secret'}} --}}

<h2>Login page</h2>
<p>Use login / ok</p>

<form {{action 'authenticate' on='submit'}}>
  <label for="username">Login</label>
  {{input id='username' placeholder='Enter Login' value=''}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=''}}
  <button type="submit">Login</button>
</form>