<div class="menu-container">
  <ul class="menu">    
    <li>
      <LinkTo @route="collections" class="button">Collections</LinkTo>
    </li>
    <li>
      <LinkTo @route="explore" class="button">Explore</LinkTo>
    </li>
    <li>
      <LinkTo @route="sale" class="button">Sale</LinkTo>
    </li>
    
    <li class="user">
      <LinkTo @route="user" class="button">User</LinkTo>
    </li>

    {{#if this.isAuthenticated}}
      <li class="logout">
        <button type="button" {{on "click" this.logout}}>Sign out</button>
      </li>
    {{else}}
      <li class="login">
        <LinkTo @route="login" class="button">Sign in</LinkTo>
      </li>

    {{/if}}
  </ul>
</div>