<div class="menu-container">
  <ul class="menu">
    <li>
      <LinkTo @route="user" class="button">User</LinkTo>
    </li>
    <li>
      <LinkTo @route="messages" class="button">Messages</LinkTo>
    </li>
    <li>
      <LinkTo @route="collections" class="button">Collections</LinkTo>
    </li>
    <li>
      <LinkTo @route="explore" class="button">Explore</LinkTo>
    </li>
    <li>
      <LinkTo @route="sale" class="button">Sale</LinkTo>
    </li>
    <li class="logout">
      <button type="button" {{on "click" this.logout}}>Logout</button>
    </li>
  </ul>
</div>