<div class="menu-container">
  <ul class="menu">
    <li>
      <LinkTo @route="user" class="button">User</LinkTo>
    </li>
    <li>
      <LinkTo @route="messages" class="button">Messages</LinkTo>
    </li>
    <li>
      <LinkTo @route="collection" class="button">Collections</LinkTo>
    </li>
    <li>
      <LinkTo @route="explore" class="button">Explore</LinkTo>
    </li>
    <li>
      {{!-- <LinkTo @route="coin" class="button">Sale</LinkTo> --}}
    </li>
  </ul>
</div>