<Navbar>
</Navbar>

<div class="collections-body">
  <h1>Collections</h1>

  {{#each @model.collections as |collection|}}
  <LinkTo @route="collection" @model={{collection.collectionId}}>
    <h2>
      {{collection.collectionName}}
    </h2>
  </LinkTo>
  {{/each}}

  <div class="add-collection-button">
    <button {{action "collectionModal" }}>Add collection</button>
  </div>
  <div id="collection-modal">
    {{collection-modal}}
  </div>
</div>