<h1>login</h1>

<form {{action 'authenticate' on='submit'}}>
  <label for="username">Username</label>
  <input type="text" name="username" {{on "change" (fn this.update "username")}}>
  <label for="password">Password</label>
  <input type="password" name="Password" {{on "change" (fn this.update "password")}}>
  <button type="submit">Login</button>
</form>

